<div class="row">
  <div class="col-md-8">
    <p>
      <label>Pagination:
        <input (change)="pagination = !pagination" [checked]="pagination" type="checkbox">
        <label>Page #:
          <input [(ngModel)]="page" size="2" type="text">
        </label>
        <label>Page Size:
          <input [(ngModel)]="size" size="2" type="text">
        </label>
      </label>
      <button (click)="requestQuoteStream()">Reactive Request</button>
      <button (click)="requestQuoteBlocking()">Blocking Request</button>
    </p>
    <table class="table">
      <thead>
      <tr>
        <th>Quote ID</th>
        <th>Book</th>
        <th>Quote content</th>
      </tr>
      </thead>
      <tbody>
      <tr (click)="onSelect(quote)" *ngFor="let quote of quotes | async" [class.success]="quote === selectedQuote">
        <td>{{quote.id}}</td>
        <td>{{quote.book}}</td>
        <td>{{quote.content.substr(0, 30)}}...</td>
      <tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <div class="message">Click on a quote for more details</div>
    <app-quote-detail [quote]="selectedQuote"></app-quote-detail>
  </div>
</div>
